
html,
body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #929292;
    min-height: 100%;
}


.main_content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top:10px;

}
.left-col {

}

.inner_div .main_content {

    margin-top: 10px;
}

.main-content-buttons {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 25%;

}

.main_button{
    background: #15d798;

    border-radius: 11px;
    padding:       15px 15px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 23px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin: 2px;

}
.enable_button{
    background: #d7152c;

    border-radius: 11px;
    padding:       0px 6px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    font-weight: bold;
    margin-bottom: 6px;

}

.manual_control_buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
.manual_button{
    margin: 5px;
    background: #636767;

    border-radius: 11px;
    border: 2px solid black;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 23px/1 "Open Sans", sans-serif;
    text-align:    center;
    width: 90px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
    color:white;
}
