@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


.main_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.inner_div .main_content {

    margin-top: 10px;
}

.main-content-buttons {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 25%;
}

.main_button{
    background: #15d798;

    border-radius: 11px;
    padding:       15px 15px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 23px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin: 2px;

}
.manual_control_buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
.manual_button{
    margin: 5px;
    background: #636767;

    border-radius: 11px;
    border: 2px solid black;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 23px/1 "Open Sans", sans-serif;
    text-align:    center;
    width: 90px;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








